<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logerror" xsi:type="File" fileName="logs\filelogerror.txt" />
		<!--<target name="logdebug" xsi:type="File" fileName="logs\filedebug.txt" />
		<target name="loginfo" xsi:type="File" fileName="logs\fileinfo.txt" />-->
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="logerror" />
		<!--<logger name="*" minlevel="Debug" writeTo="logdebug" />
		<logger name="*" minlevel="Info" writeTo="loginfo" />-->
	</rules>
</nlog>
